---
import Header from "../components/Header.astro";
import HeaderSmall from "../components/HeaderSmall.astro";

const {
  headerType = "small",
  title = "Gläntan Djur och Natur",
  description = "Gläntan är en lokal gårdsbutik med ett stort sortiment av högkvalitativt djurfoder för alla typer av djur.",
  ogImage = "/images/logo-round.png"
} = Astro.props;

import Footer from '../components/Footer.astro';
import '../styles/global.css'; // Importera globala stilar
---

<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Gläntan Gårdsbutik" />
    <meta name="robots" content="index, follow" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(ogImage, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(ogImage, Astro.url)} />
  </head>
  <body class="font-serif text-gray-800">
    {
      headerType === "large"
        ? <Header />
        : <HeaderSmall />
    }

    <main class="min-h-screen">
      <slot />
    </main>

    <Footer />

  </body>
</html>